@use '../custom' as *;

#testimonials{
    color: $white;
}

.testimonial-img{
    border-radius: 100%;
    margin: 20px;
}

@media (max-width: 1440px){
    .testimonial-img{
        width: 10%;
    }
}

@media (max-width: 375px) {
    
    .testimonial-img{
        width: 90px;
        height: 99.656px;
    }
}